<div id="blogContent" ng-show="tab==3" ng-controller = "newBlogController">
	Blog HERE!
	<button id="btnXX2" ng-click="newBlog()" ng-show="getUserStatus()">New Blog</button>
	<div id="todo-form" class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                  <form>
                      <div class="form-group">

                          <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                          <input type="text" class="form-control input-lg text-center" ng-model="formData.text">
                      </div>

                      <!-- createToDo() WILL CREATE NEW TODOS -->
                      <button type="submit" class="btn btn-primary btn-lg" ng-click="createBlog()">Add</button>
                  </form>
              </div>
          </div>
</div>