<!DOCTYPE html>
<html lang="en" ng-app="blog">
  <head>
    <meta charset="utf-8">
    <title>{{blog}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- // <script src="/node_modules/angular-resource/angular-resource.js"></script> -->
    <script src="/node_modules/angular/angular.js"></script>
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="core.js"></script>
    <script src="service.js"></script>
    <script src="controller.js"></script>
    <link rel="shortcut icon" href="#" />

    <!-- Le styles -->

  </head>

<body ng-controller='mainController'>
<!--     <div ng-controller="logoutController">
      <a ng-click='logout()' class="btn btn-default">Logout</a>
    </div> -->

    <div class="col-md-4" ng-controller = "loginController">
  <h1>Login</h2>
  <div ng-show="error" class="alert alert-danger"></div>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginForm.username" required>
    </div>
    <div class="form-group">
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
      </div>
  </form>
</div>
    <p>Not {{blogs.length}}</p>
             <!-- LOOP OVER THE TODOS IN $scope.todos -->
                <div class="checkbox" ng-repeat="blog in blogs">
                  <input type="checkbox" ng-click="deleteBlog(blog._id)">
                    <label>    
                        <a href="#" editable-textarea="blog.text" e-rows="7" e-cols="40" onaftersave="update(blog._id, $data)">{{ blog.text }}</a>
                    </label>
<!--                   <button ng-show="!editing[$index]" ng-click="edit(blog._id)">edit</button>
                  <input ng-show="editing[$index]" type="text" ng-model="blog.name">
                  <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
                  <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button> -->
                </div>

       <!-- FORM TO CREATE TODOS -->
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" ng-model="formData.text">
                    </div>

                    <!-- createToDo() WILL CREATE NEW TODOS -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createBlog()">Add</button>
                </form>
            </div>
        </div>

  </body>
</html>