body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

/*a {
  color: #00B7FF;
}*/
#mainMenu{
    height: 100%;
}
#projecTeaseCoursel{
    margin-bottom: 0px;
}
.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}
.projectTeaserInfo{
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background: black;
    width: 100%;
    height: 100%;
}
.customLightBox{
    margin: 20px;
}
.customLightBox img{
    width: 100%;
    height: 100%;
}
.xButton{
    position: absolute;
    top:0px;
    right: 0px;
    background: white;
    width: 20px;
    height: 20px;
    padding: 5px;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
}
.projectInfo{
    background: white;
    padding: 10px;
}
.animate-enter.animate-enter-active {
    opacity: 1;
}
.projects{
    display: flex;
    justify-content: left;
}
.projectIcons{
    margin-top: 50px;
    height: 250px;
}
.projectIcons a{
    height: 100%;
    z-index: 998;
}
.projectIcons > a > img{
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.projectIcons > a > img:hover {
  opacity: 0.5;
}
.projectIcons:hover{
    transition: .25s linear all;
    -webkit-transition: .25s linear all;
    transform:translate(0,-25px);
}
.projectIcons.ng-enter{
    opacity:0;
    color: red;
}

.projectIcons.ng-enter.ng-enter-active  {
    
    opacity: 1;
    color: red;
}
.projectIcons.ng-leave{
  opacity: 1;
  color: blue;
}

.projectIcons.ng-leave.ng-leave-active {
    color: blue;
  opacity: 0;
}
.projectTitle{
    position: absolute;
    padding: 0px;
    margin: 0px;
    z-index: 998;
    width: 100%;
}
.projectTitle > p{
    background: black;
    color: white;
    margin: 0px;
    padding: 5px;
    text-align: center;
}
#blogIcons{
    width: 100%;
}
.day{
    font-size: 30px;
    margin:0px;
    width: 50px;
    background: green;
    color: white;
}
.month{
    font-size: 20px;
    margin: 0px;
    width: 50px;
    background: green;
    color: white;
}
.time{
    margin: 0px;
    background: black;
    color: white;
    width: 60px;
}
.title{
    margin: 0px;
}
.teasers{
    margin: 0px;
}
.contentBlog{
    display: flex;
    justify-content: left;
    /*display: inline-block;*/
}
.blogTile{
    margin: 5px;
    background: #c0c0c0;
    padding: 5px;
}
.year{
/*    display: flex;
    justify-content: left;*/
    font-size: 20px;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
}
.yearTile{
    display: flex;    
    margin-bottom: 10px;
    background: green;
    width: 100%;
}
.blogDate{
    margin-right: 5px;
    text-align: center;
}
/*.blogsInfo{
    display: block;
    float: left;
}*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#container{
    position: fixed;
	margin-left: 250px;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    height: 100%;
}
#bio{
    text-align: center;  
}
#bio h1{
    width: 100%;
}
#bio img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}
#wrapper.toggled {
    padding-left: 250px;
}
#SideMenu2{
    width: 100px;
    height: 200px;
}
#sidebar-wrapper {
       position: fixed;
            width: 200px;
    z-index: 1000;
 
/*    left: 10px;*/
    height: 100%;
    overflow-y: hidden; 
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    width: 100%;
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#sidebar-wrapper {

}
/*@media{
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }



    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}*/