<div id="bio">
	<img src="images/Me2.jpg" alt="Charles Lee" width="25%" >
	<h1>Hey There!</h1>
	<p>I'm Charles Lee! I built this entire website using a MEAN stack. I graduated from Georgia Institute of Technology with B.S. in Computational Media (Computer Sceince with Design) 5 months ago. I am looking for frontend dev role.</p>
	<p>I enjoy playing tennis, cello and video games. During my spare time, I am either working on game, mobile app and improving this website.stay tuned for more projects!</p>

	<h2>Resume:</h2>	
	<a href="/views/files/Resume-2016.docx">Resume</a>
	<h2>Email:</h2>
	<p>charles.98006@gmail.com</p>
</div>