<div id="bio">
	<img src="images/Me2.jpg" alt="Charles Lee" width="25%" >
	<h1>Hey There!</h1>
	<p>I'm Charles Lee! I built this entire website using a MEAN stack. I just recently graduated from Georgia Institute of Technology with B.S. in Computational Media (Computer Sceince with Design). I am looking for web or software development role.</p>
	<p>I enjoy playing tennis, cello and video games. I am also developing a game and learning alot about design and develop as well. So stay tuned!</p>

	<h2>Resume:</h2>
	<a href="/views/files/Resume.docx">Resume</a>
	<h2>Email:</h2>
	<p>charles.98006@gmail.com</p>
</div>