<div id='project-Content' ng-controller= "projectPageController">
	<h1>Projects</h1>
	<div class= "projects">
		<div class="projectIcons" ng-repeat="project in projects | orderBy: '-date'" ng-init="count=0">
			<!-- <a ng-click="Lightbox.openModal([{'url':'{{project.img}},'caption': '{{project.text}}', 'thumbUrl': '{{project.img}}' ])"> -->
			<a ng-click=projectImgClicked(project)>
				<img src="{{project.img}}" width="250px" height="150px" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
			</a>
			<div class="projectTitle" ng-show="hoverEdit">
				<p>{{project.title}}</p>
			</div>
		</div>

	</div>
	<div class="projectTeaserInfo" ng-show="projectClicked">
		<div class="customLightBox">
			<img src="{{img}}">
			<div class="projectInfo">
				<h2>{{title}}</h2>
				<p>{{text}}</p>
				<a href ="{{link}}">{{link}}</a>
			</div>
			<div class="xButton" ng-click="projectClicked=false">
				X			
			</div>
		</div>
	</div>
</div>